USE [C138_keysis917_gmail]
GO
/****** Object:  Table [sab].[StudentProfiles]    Script Date: 4/29/2024 10:41:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sab].[StudentProfiles](
	[StudentId] [int] NOT NULL,
	[EnrollDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
