USE [C138_keysis917_gmail]
GO
/****** Object:  Table [sab].[InstructorProfiles]    Script Date: 4/29/2024 10:41:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sab].[InstructorProfiles](
	[InstructorId] [int] NOT NULL,
	[HireDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
